<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
    href="#">
    <img src="assets/images/logo.png"
      alt="logo"
      class="logo">
    AirPort
  </a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-list collapse navbar-collapse"
    id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"
        routerLink="/home"
        routerLinkActive='active'>
        Inicio
      </a>
      <a class="nav-item nav-link"
        routerLink="/vuelos"
        routerLinkActive='active'>
        Vuelos
      </a>
      <a class="nav-item nav-link"
        routerLink="/listaVuelos"
        routerLinkActive='active'>
        Listado de Vuelos
      </a>
    </div>
  </div>
</nav>
