.navbar {
  padding: 0 3rem;
  // justify-content: space-around;

  .logo {
    height: 40px;
  }

  .navbar-brand {
    width: 20%;
  }

  .nav-list {
    justify-content: flex-end;

    .navbar-nav {

      a {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 .5rem;

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }
    }

  }

}

@media(max-width:570px) {
  .navbar {
    padding: 0 1rem;
  }
}
