<h4 class="display-4">Listado de Vuelos Registrados</h4>

<div class="list-group mt-4">
  <li *ngFor="let vuelo of vuelos"
    class="list-group-item"
    (click)="verDetalle(vuelo)">
    <img src="assets/images/airplane.png"
      alt="airplane">
    <div class="content">
      <span class="id">{{ vuelo.id }}</span>
      <div>
        <p class="font-weight-bold">
          Republica Dominicana
          <i class="fas fa-arrow-right mx-2"></i>
          {{ vuelo.paisDestino }}
        </p>
      </div>

      <div>
        <span>Hora de salida: </span>
        <p>{{ vuelo.horaSalida }}</p>
      </div>

      <div>
        <span>Tiempo del vuelo: </span>
        <p>{{ vuelo.tiempo }}</p>
      </div>

      <div>
        <span>Cantidad de Pasajeros: </span>
        <p>{{ vuelo.qty }}</p>
      </div>
    </div>

  </li>
</div>
