.display-4 {
  font-size: 30px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;


  img {
    height: 80px;
    margin-right: 3rem;
  }

  .content {
    flex: 1;

    span.id {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 1rem;
    }

    span {
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
      display: inline-block;
      font-weight: lighter;
    }
  }

  &:hover {
    background-color: rgb(236, 232, 232);
  }
}
