<div class="form-container">
  <h4 class="display-4 mb-4">Reserve su vuelo</h4>
  <form>
    <div class="form-group">
      <label for="paises">Pais Destino</label>
      <select name="paises"
        id="paises"
        class="custom-select"
        (change)="getVuelosPorPais($event.target.value)">
        <option value=null
          selected
          disabled>
          Seleccione el pais destino
        </option>
        <option [value]="pais"
          *ngFor="let pais of paises">
          {{ pais }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="vuelos">Vuelo</label>
      <select name="vuelos"
        id="vuelos"
        class="custom-select"
        (change)="getDataVuelo($event.target.value)">
        <option value=null
          selected
          disabled>
          Seleccione el vuelo
        </option>
        <option [value]="vuelo.id"
          *ngFor="let vuelo of vuelos">
          {{ vuelo.id }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="horaSalida">Hora de salida</label>
      <input type="time"
        name="horaSalida"
        id="horaSalida"
        class="form-control"
        disabled
        [(ngModel)]="vuelo.horaSalida">
    </div>

    <div class="form-group">
      <label for="tiempoVuelo">Tiempo de vuelo</label>
      <input type="text"
        name="tiempoVuelo"
        id="tiempoVuelo"
        class="form-control"
        disabled
        [(ngModel)]="vuelo.tiempo">
    </div>
  </form>

  <hr>

  <app-pasajeros (pasajeroAgregado)="obtener($event)"
    [mostrarLista]="true">
  </app-pasajeros>

  <button class="btn btn-dark"
    *ngIf="pasajeroAgregado && vuelo.pasajeros.length > 0"
    (click)="registrar()">Registrar Vuelo</button>

</div>
